{% extends 'default.html.twig' %}

{% block title %}Truiter{% endblock %}

{% block content %}
    <!-- <p>{ { message }}</p>
    <ul>
        { % for user in users %}
        <li>{ { user.username }}</li>
        { % endfor %}
    </ul> -->

    <ul>
        {% for tweet in tweets %}
         <!--    <li> { { tweet.text }} (@ { { tweet.author.username }}) | { { tweet.createdAt | date("d/m/Y h:m:s") }}</li> -->
            {% include '_tuit.html.twig' with {truit: tweet} %}
        {% endfor %}
    </ul>
{% endblock %}
